<div class="container">
  <h1>Step 2</h1>
  <div [formGroup]="familyForm" class="member-list">
    <div *ngFor="let member of familyForm.controls; let i = index" [formGroupName]="i" class="cart">
      <div class="item">
        <app-text-field label="First Name" controlName="firstName"></app-text-field>
        <app-text-field label="Last Name" controlName="lastName"></app-text-field>
      </div>
      <div class="item">
        <app-text-field label="Relation" controlName="relation"></app-text-field>
        <app-text-field label="Age" controlName="age"></app-text-field>
      </div>
      <div class="btn">
        <button type="button" (click)="removeFamilyMember(i)">Remove Member</button>
      </div>
    </div>
  </div>
  <div class="btn">
    <button type="button" (click)="addFamilyMember()">Add Family Member</button>
  </div>
</div>